{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center text-dark bg-white"> One Product 30/01/66 </h1>
    <h2 class="text-center text-dark bg-white"> {{ product.pid }}:{{ product.name }} </h2>
     <table class="table table-info ">
         <tr>
             <td>ID</td>
             <td>{{ product.pid }}</td>
         </tr>

        <tr>
             <td>name</td>
             <td>{{ product.name }}</td>
         </tr>

        <tr>
             <td>Brand</td>
             <td>{{ product.brand }}</td>
         </tr>
        <tr>
             <td>Price</td>
             <td>{{ product.price }}</td>
         </tr>
     </table>
    <a onclick="history.back();" class="btn btn-warning">
    <i class="fas fa-backward"></i> Back

    </a>


{% endblock %}