{% load static %}
{% load fontawesome_5 %}
<html>
<head>

    <title></title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'stylesheets/bt523/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'fontawesome/fontawesome515/css/all.css' %}">
    <script src="{% static 'stylesheets/bt523/js/bootstrap.js' %}"></script>
{#    <script>#}
{#        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))#}
{#        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {#}
{#            return new bootstrap.Tooltip(tooltipTriggerEl)#}
{#        })#}
{#    </script>#}
{#    <script>#}
{#        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))#}
{#        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {#}
{#            return new bootstrap.Popover(popoverTriggerEl)#}
{#        })#}
{#    </script>#}
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 text-bg-warning">
            {% include 'header.html' %}
            <h1 class="text-white Text-Center">Siriwan Saengaunurai</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3  text-dark" style="width: auto">
            {% include 'menu.html' %}
        </div>
        <div class="container-fluid col-10 ">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>
</body>
</html>