{% load static %}
<div class="row">
    <div class="col-lg-1"><br>
        <img src="{% static 'images/ouei.jpg' %}" alt="Paris" width="190" height="150"
             style="border-radius: 50%;border-image: 2;"align="left"
        width="120px" height="120px">
    </div><br>
    <div class="col-lg-9"align="center">
     <strong><h1 class="text-white display-3"style="font-family: 'TH KoHo'" align="center">My Webpage BIS3R1-114&nbsp;<i class="fa fa-pager"></i><br>
         <i class="fa fa-school" style="color:snow;font-size: 42px"> RMUTI.KKC</i></h1> </strong><br>

{#        <img src="{% static 'images/ff.gif' %}"width="70"height="70"align="right">#}
    </div><br>
{#    <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">#}
{#  <div class="container-fluid">#}
{#    <a class="navbar-brand" href="javascript:void(0)">Logo</a>#}
{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="mynavbar">#}
{#      <ul class="navbar-nav me-auto">#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="javascript:void(0)">Link</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="javascript:void(0)">Link</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="javascript:void(0)">Link</a>#}
{#        </li>#}
{#      </ul>#}
{#      <form class="d-flex">#}
{#        <input class="form-control me-2" type="text" placeholder="Search">#}
{#        <button class="btn btn-primary" type="button">Search</button>#}
{#      </form>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}
</div>
