{% extends 'base.html' %}
{% load static %}

{% block content %}<br>
    <!-- Carousel -->
    <div id="hny" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#hny" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#hny" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#hny" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/new1.jpeg' %}" alt="New Year 1" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/new2.jpg' %}" alt="New Year 2" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/new3.jpg' %}" alt="New Year 3" class="d-block w-100">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <div class="alert alert-success">
                <strong>HAPPY NEW YEAR</strong> ขอให้ทุกคนมีความสุขมากๆนะคะ
            </div>
        </div>
    </div>
    <div class="alert alert-danger">
        <strong>ด่วน!</strong> รีบแต่งตัวไปตะวันแดงคืนนี้จร้าาา
    </div><br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
         Sign Up Now
    </button>


    <!-- The Modal -->
    <div class="modal" id="myModal" >
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">คำสั่งซื้อมีปัญหา</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                   สินค้าหมด ไม่พอจำหน่ายกรุณาติดต่อ Admin เพื่อสั่งจองล่วงหน้า
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>




{% endblock %}