{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>interests page</title>
      <style>
body {
  background-color: #d0d9ff;
}</style>
</head>
<body>

    <div class="text-bg-warning col-10 text-center container-fluid" align="center"style="border-width: 8px;
    border-style: double;border-style: double;border-color: orange;border-color:darkorange ">
        <strong><font style="font-family: 'TH KoHo';color: whitesmoke"size="16"> My Interests<img src="{% static 'images/icon2.png' %}"width="70px"height="70px"align="right">
    <img src="{% static 'images/icon2.png' %}"width="70px"height="70px"align="left"></font></strong></div>

<br>

    <div class="container-fluid col-lg-12"style="background-color:white" > <table  align="center"style="border-style: solid;border-color:#0b5ed7;
     border-width: 8px" class="container-fluid col-lg-12" >
        <tr>
            <td align="left" ><img src="{% static 'images/tiktok.png' %}"width="150" height="150"></td>

            <td  style="font-family: 'TH Sarabun New';color: #04414d;font-size: 20px;" ><strong>
    การทำการตลาดผ่าน TikTok ปัจจุบันเป็นที่นิยมมากขึ้นอย่างมาก สามารถตอบโจทย์พฤติกรรมของผู้ใช้งานสมาร์ทโฟนที่ต้องการจะเป็น Creator คนดังได้ง่ายๆ <br>
หรือผู้ที่ชอบเสพย์คอนเทนต์ที่มีความสั้น สนุกสนาน ในรูปแบบวีดีโอ 15-60 วินาที ผสมผสานกับฟิลเตอร์และเอฟเฟกต์ต่างๆ แล้วแชร์ข้ามแพลตฟอร์มอย่าง Facebook,  <br>
Instagram, และ Twitter ได้ นอกจากนี้ TikTok ยังสามารถ Live ขายสินค้า และยังสามารถเป็นได้ทั้งร้านค้า Onlineได้อีกด้วยนั่นเป็นอีกหนึ่งช่องทางในการหารายได้ <br>
และประโยชน์ของ TikTok ทั้งหมดที่กล่าวมานี้จึงเป็นสิ่งสำคัญที่ทำให้ดึงดูดความสนใจของทุกๆคน รวมถึงตัวของฉันด้วย </strong>

            </td>
        </tr>
    </table></div>

<br><br>

    <div class="text-bg-light col-5 text-center container-fluid" align="center"style="border-width: 8px;
    border-style: double;border-style: double;border-color: palevioletred;border-color:pink ">
        <strong style="font-family: 'TH KoHo';color:#04414d;font-size: 32px"> Media </strong></div><br>

    <div class="container-fluid col-lg-12" align="center" style="background-color: white;border-color: darkslategray;border-width: 8px;
border-style: double;border-style: double"><br>
   <table style="background-color: #C5D6BA;" align="center"class="container-fluid align-center">
            <td style=" border-width: 5px;border-color: #51585e" class="container-fluid"><video src="{% static 'mp4/clip1.mp4'  %}"width="420" height="240" controls="controls" loop></video> </td>
          <td style=" border-width: 5px;border-color: #51585e"class="container-fluid"> <video src="{% static 'mp4/siriwan.mp4' %}"width="420" height="240" controls="controls"  loop></video> </td>
       </tr>
  </table><br></div>
    <div align="left" ><font style="font-family: 'TH Sarabun New';background-color: #eccccf;color: darkslategray;size: 15px;font-size: 16px"><b>กดเล่น เพื่อรับชมวิดิโอ </b> </font> </div><br><br>

  <div class="text-bg-light col-5 text-center container-fluid" align="center"style="border-width: 8px;
    border-style: double;border-style: double;border-color: palevioletred;border-color:pink ">
        <strong style="font-family: 'TH KoHo';color:#04414d;font-size: 32px"> TikTok Shop </strong></div><br>

    <div class=" col-lg-12 text-center container-fluid " align="center"style="border-width: 8px;
    border-style: double;border-style: double;border-color: #0b5ed7;border-color:white ;background-color: #eccccf">
<br>
     <table align="center"  >
     <tr>
         <td style="border-color: #51585e;border-width: 5px"><img src="{% static 'images/shop.jpg' %}"width="400px"height="400px"> </td>
         <td  style="border-color: #51585e;border-width: 5px"><img src="{% static 'images/shop2.jpg' %}"width="400px"height="400px"> </td>
     </tr></table><br></div><br>
<br><br>
</body>
{% endblock %}