{% load static %}


<ul class="list-group "  >
    <li class="list-group-item active text-dark" style="background-color:#F6C8B6;border-color: #51585e">
        <i class="fa fa-list l"></i>Menu:
    </li>
    <li class="list-group-item "style="border-color: #51585e"title="ไปที่หน้า Home  Page">
        <i class="fa fa-home"></i>
        <a href="{% url 'home' %}"style="color: #51585e"> Home </a>
    </li>
    <li class="list-group-item "style="border-color: #51585e"title="ไปที่หน้า Profile  Page">
        <i class="fa fa-user"></i>
       <a href="{% url 'profile' %}"style="color: #51585e"> Profile Page</a>
    </li>
    <li class="list-group-item "style="border-color: #51585e"title="ไปที่หน้า Education  Page">
        <i class="fa fa-book"></i>
       <a href="{% url 'education' %}"style="color: #51585e"> Education Page</a>
    </li>
    <li class="list-group-item "style="border-color: #51585e"title="ไปที่หน้า Interests  Page">
        <i class="fa fa-smile"></i>
       <a href="{% url 'interests' %}"style="color: #51585e"> Interests Page</a>
    </li>
    <li class="list-group-item "style="border-color: #51585e"title="ไปที่หน้า Dream Job  Page">
        <i class="fa fa-cloud"></i>
       <a href="{% url 'dreamJob' %}"style="color: #51585e">Dream Job  Page</a>
    </li>
    <li class="list-group-item "style="border-color: #51585e"title="ไปที่หน้า Idol Page">
        <i class="fa fa-star"></i>
       <a href="{% url 'idol' %}"style="color: #51585e"> Idol Page</a>
    </li>
    <li class="list-group-item "style="border-color: #51585e"title="ไปที่หน้า HNY Page">
       <i class="fa fa-pager"></i>
       <a href="{% url 'hny' %}"style="color: #51585e"> HNY Page</a>
    </li>

    <li class="list-group-item "style="border-color: #51585e"title="ไปที่หน้า Product Page">
       <i class="fa fa-shopping-basket"></i>
       <a href="{% url 'product' %}"style="color: #51585e"> Product Page</a>
    </li>

{#    <li class="list-group-item ">#}
{#       <i class="fas fa-product-hunt"></i>#}
{#       <a href="{% url 'showProduct' %}"> Show Product Page</a>#}
{#    </li>#}
{##}
{#    <li class="list-group-item ">#}
{#       <i class="fas fa-product-hunt"></i>#}
{#       <a href="{% url 'newProduct' %}">Product Normal Page</a>#}
{#    </li>#}




{#    <li class="list-group-item">#}
{##}
{#        <a class="fa fa-cloud" href="{% url 'myData' %}">myData Page </a>#}
{#    </li>#}

</ul>

