{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <head>
        <style>
            body {
                background-color: #f2eddd;
            }
        </style>

    </head>

    <meta charset="UTF-8">
    <title>profile page</title>
    </head>
    <body></body>

    <br>
    <div align="center"><font size="18" style="color:darkslategray; "> 🅟🅡🅞🅕🅘🅛🅔 🅘🅝🅕🅞🅡🅜🅐🅣🅘🅞🅝</font>
        <img src="{% static 'images/icon2.png' %}" width="50px" height="50px" align="left">
        <img src="{% static 'images/icon2.png' %}" width="50px" height="50px" align="right"></div>

    <div class="container-fluid col-lg-12" align="center" style="background-color: #9AA090;border-color: darkslategray;border-width: 8px;
border-style: double;border-style: double"><br>
        <img src="{% static 'images/ouei5.jpg' %}" alt="Paris" width="400" height="390"
             style="border-radius: 50%;border-image: 10%;border-color:white;border-style:double;
             border-width:8px;border-style:double;border-color: #0c4128 " align="center"
             width="300px" height="300px;"><br><br>
        <table style="color: darksalmon;border-width: 3px;border-style: solid " bgcolor="#ffebcd">
            <tr>

                <td width="200" height="30"><font size="4" color="#696969" style="font-family: sans-serif"> NAME </font>
                </td>
                <td><font size="4" color="#696969" style="font-family: sans-serif"> SIRIWAN SAENGAUNURAI</font></td>
            </tr>
            <tr>
                <td><font size="4" color="#696969" style="font-family: sans-serif"> BIRTHDAY 🎂 </font></td>
                <td><font size="4" color="#696969" style="font-family: sans-serif">07-02-2001 20 YEARS</font></td>
            </tr>

            <tr>
                <td><font size="4" color="#696969" style="font-family: sans-serif"> ADDRESS 🏡</font></td>
                <td><font size="4" color="#696969" style="font-family: sans-serif"> BAN PHAI SUBDISTRICT,BAN PHAI
                    DISTRICT,KHON KAEN PROVINCE</font></td>
            </tr>

            <tr>
                <td><font size="4" color="#696969" style="font-family: sans-serif"> EMAIL 💌 </font></td>
                <td><font size="4" color="#696969" style="font-family: sans-serif">SIRIWAN.SU@RMUTI.AC.TH</font></td>
            </tr>

            <tr>
                <td><font size="4" color="#696969" style="font-family: sans-serif">FACEBOOK </font></td>
                <td><font size="4" color="#696969" style="font-family: sans-serif">OUEI SIRIWAN</font></td>
            </tr>
        </table>
        <br></div>

    <br>
    <div align="center"><strong style="border-width: 2px; color: #0a58ca"><font
            style="font-family: 'TH KoHo'; background-color: #e7f1ff ; text-align: center" size="12" color="#2f4f4f">
        NICE TO MEET YOU </font><img src="{% static 'images/ff.gif' %}" width="80px" height="80px"> </strong></div>
   </body>
{% endblock %}